In [3]:
import pandas as pd
import random 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [4]:
# Generate sample dataset
num_samples = 1000
data = {
    'production_cost': [round(random.uniform(5, 50), 2) for _ in range(num_samples)],
    'competitor_price': [round(random.uniform(10, 60), 2) for _ in range(num_samples)],
    'demand_level': [round(random.uniform(0.5, 2), 2) for _ in range(num_samples)],
    'market_share': [round(random.uniform(0.1, 0.9), 2) for _ in range(num_samples)]
}

In [6]:
df = pd.DataFrame(data)
df

     production_cost  competitor_price  demand_level  market_share
0              42.18             10.39          1.26          0.36
1              25.00             10.83          1.85          0.37
2              42.10             29.32          0.92          0.34
3               5.75             14.19          0.64          0.73
4              34.66             26.53          0.56          0.16
..               ...               ...           ...           ...
995            10.57             51.62          1.58          0.37
996            46.87             28.19          1.78          0.59
997            43.01             39.49          1.44          0.24
998            33.83             51.76          1.78          0.56
999            43.49             34.96          1.89          0.53

[1000 rows x 4 columns]

In [7]:
# Split dataset into features and target variable
X = df[['production_cost', 'competitor_price', 'demand_level', 'market_share']]
X

     production_cost  competitor_price  demand_level  market_share
0              42.18             10.39          1.26          0.36
1              25.00             10.83          1.85          0.37
2              42.10             29.32          0.92          0.34
3               5.75             14.19          0.64          0.73
4              34.66             26.53          0.56          0.16
..               ...               ...           ...           ...
995            10.57             51.62          1.58          0.37
996            46.87             28.19          1.78          0.59
997            43.01             39.49          1.44          0.24
998            33.83             51.76          1.78          0.56
999            43.49             34.96          1.89          0.53

[1000 rows x 4 columns]

In [8]:
y = df['optimal_price'] = df['competitor_price'] * (1 + (df['demand_level'] - df['market_share'])/2)
y

0      15.06550
1      18.84420
2      37.82280
3      13.55145
4      31.83600
         ...
995    82.85010
996    44.96305
997    63.18400
998    83.33360
999    58.73280
Length: 1000, dtype: float64

In [9]:
# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train regression model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [11]:
# Make predictions
y_pred = model.predict(X_test)
y_pred

array([15.05116695, 84.88871467, 70.3097205 , 14.72732336, 42.30206765,
       61.84830986, 52.86858085, 78.31158142, 43.54315292, 37.7944638 ,
       31.68241412, 60.94623865, 49.94768328, 62.2659099 , 60.89363004,
       34.28555113, 48.55934448, 39.90794228, 54.7561747 , 72.77133378,
       88.89859478, 44.07042586, 27.45105734, 51.66091367, 36.46428647,
       68.26292092, 19.61570089, 24.20816524, 35.33594619, 40.95152817,
       64.28074031, 22.31276938, 16.78878087, 21.10642695, 22.52237852,
        8.66996062, 65.18702621, 45.36342744, 86.6896958 , 25.53153539,
       26.80101932, 56.1075101 , 35.45895922, 19.41132123, 50.98161812,
       52.5749897 , 69.67136625, 54.06911626, 73.10430297, 64.88138111,
       23.51373752, 35.55704411, 50.32212234, 68.07938157, 65.01066807,
       49.05460962, 43.63845095, 49.18186308, 90.84554682, 45.52915515,
       59.12676347, 59.60252513, 87.36910863, 26.31012288, 53.60012385,
       58.22935853, 56.15595707, 38.03225982, 51.78598181, 58.76287639,
        9.13544524, 80.14811336, 17.8025333 , 62.78365162, 27.90953165,
       79.30268537,  3.73853653, 70.89063313, 12.85472464, 37.4391773 ,
       36.57352313, 42.32311527,  6.28284653, 35.09587791, 93.31651833,
       83.45959485, 79.11480512, 84.2035388 , 57.21480298, 17.3125005 ,
       30.93980322, 66.99708935, 70.78228988, 75.30836053, 61.03884261,
       86.53236035, 67.44115121, 26.70464669, 37.78501743, 14.64091857,
       82.97338002, 26.07037262, 89.53466696, 62.8872813 , 55.19148493,
       53.00024633, 62.05256527, 68.35885975, 43.22027666, 52.63064005,
       43.66198025, 23.73354722, 43.32251094, 66.09418537, 70.26460004,
       71.21727554, 60.66231237, 55.81199229, 19.39927292, 34.64469651,
       47.31378772, 79.90240422, 10.74538227, 68.15354257, 30.77350298,
       20.79143784, 48.48100137, 42.85434642, 38.45691325, 54.93979708,
       76.59069716, 35.61153724, 38.24064852, 79.09531435, 58.91943915,
       88.61298003, 56.91241319, 57.35441838, 62.77844268, 19.31982787,
       89.04437562, 45.91244045, 22.86259245, 70.91110227, 44.98641349,
       70.41673661, 37.98731731, 57.08672357, 53.53295266, 33.99882934,
       20.76557969, 38.16072505, 48.80338232, 34.10227041, 45.74101104,
       44.376382  , 22.22876662, 50.80319384, 77.76098221, 29.09568097,
       60.0393971 , 71.59379285, 40.44761525, 22.63071643, 37.93342111,
       50.0288582 , 37.00546336, 20.21377564, 27.25784853, 69.77285087,
       12.37224155, 35.11563504, 61.17554186, 20.03555606, 97.80977003,
       64.06870712, 57.02397483, 37.00865658, 23.10720353, 40.3446753 ,
       45.57086149, 51.31736041, 14.11192292, 89.45502898, 35.43916082,
       19.83202066, 67.31017591, 44.77143739, 34.70793921, 47.35862694,
       67.11529106, 45.79130598, 74.93327287, 70.26967918, 37.94961056,
       78.15726247, 59.18040208, 51.66727295, 18.76432215, 25.53823346])

In [12]:
# Evaluate model
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 13.877714329769015

In [14]:
# Example usage for a new product
new_product_features = pd.DataFrame({
    'production_cost': [25],
    'competitor_price': [30],
    'demand_level': [1.5],
    'market_share': [0.6]
})
new_product_features

   production_cost  competitor_price  demand_level  market_share
0               25                30           1.5           0.6

In [15]:
predicted_price = model.predict(new_product_features)
print("Predicted price for the new product:", predicted_price[0])

Predicted price for the new product: 43.99968391774987